body {
   
    color: #333333;
    padding: 10px 50px;
    border: 2px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    background: #fafafa;
    margin-top: 1rem;}
    
h1, h2, h3, h4, h5, h6 {
color: #0786ed;
padding-top: 50px;}
p {
color: #444444;
font-size: 20px;}